<!DOCTYPE html>
<html>

<head>
    <title>Sign in</title>
</head>

<body>
    <div>
        <h1>Hello sign-in page </h1>
    </div>
    <form id="user">
        <label for="username">Username: </label><br>
        <input type="text" id="username" name="username"><br>
        <label for="email">Email: </label><br>
        <input type="email" id="email" name="email"><br>
    </form>
    <br>
    <button type="submit" form="user" value="Submit">Create user</button>
    <script type="text/javascript" src="js/sign-in.js"></script>
</body>

</html>